menu "Libraries"

config U8G2
    bool "U8g2"
    default n

config SEGGER_RTT
    bool "Segger RTT"
    default n

config SHELL_LETTER
    bool "Letter Shell"
    default n

menu "RTOS"

config RTOS_CMSIS_RTX
    bool "CMSIS RTX"
    default n

config RTOS_CMSIS_FREERTOS
    bool "CMSIS FreeRTOS"
    default n

config RTOS_THREADX
    bool "ThreadX"
    default n

if RTOS_THREADX
    rsource "threadx/Kconfig"
endif # RTOS_THREADX

endmenu # RTOS

menu "USB"

config USB_CHERRYUSB
    bool "Cherry USB"
    default n

if USB_CHERRYUSB
    rsource "cherryusb/Kconfig"
endif # USB_CHERRYUSB

config USB_STM32
    bool "STM32 USB"
    default n

config USB_USBX
    bool "USBX"
    default n

if USB_USBX
    rsource "usbx/Kconfig"
endif # USB_USBX

endmenu # USB

config USE_RTOS
    bool
    default n if RTOS_NONE
    default y if RTOS_CMSIS_FREERTOS
    default y if RTOS_CMSIS_RTX
    default y if RTOS_THREADX

endmenu # Libraries
